In [1]:
import pandas as pd
import numpy as np

In [12]:
data=pd.read_csv('lab1.csv')

In [13]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2   rain     cold     high  string  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [14]:
concepts=np.array(data)[:,:-1]

In [15]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rain', 'cold', 'high', 'string', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [16]:
target=np.array(data)[:,-1]

In [17]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [32]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h=con[i].copy()
            break
    for i,val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
                
    return specific_h

In [33]:
print(train(concepts,target))

['sunny' 'warm' '?' 'strong' '?' '?']