In [1]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv('lab1Example2.csv')

In [6]:
data

  citations    size inLibrary       price edtion  buy
0      some   small        no  affordable   many   no
1      many     big        no   expencive    one  yes
2      some     big    always   expencive    few   no
3      many  medium        no   expencive   many  yes
4      many   small        no  affordable   many  yes

In [7]:
concepts=np.array(data)[:,:-1]

In [8]:
concepts

array([['some', 'small', 'no', 'affordable', 'many'],
       ['many', 'big', 'no', 'expencive', 'one'],
       ['some', 'big', 'always', 'expencive', 'few'],
       ['many', 'medium', 'no', 'expencive', 'many'],
       ['many', 'small', 'no', 'affordable', 'many']], dtype=object)

In [9]:
target=np.array(data)[:,-1]

In [10]:
target

array(['no', 'yes', 'no', 'yes', 'yes'], dtype=object)

In [11]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val=='yes':
            specific_h=con[i].copy()
            break
    for i,val in enumerate(con):
        if tar[i]=='yes':
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
                
    return specific_h

In [12]:
print(train(concepts,target))

['many' '?' 'no' '?' '?']